/* Adicionando estilização padrão para fontes e fundos. */
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}

/* Estilizando o tamanho e espaçamento da imagem do cabeçalho */
header {
    background: #E5E5E5;
}

header img{
    width: 2%;
    margin-left: 4%;
    padding-top:  2%;
    padding-bottom: 5%;
}

/* Deixando todo o conteudo principal com a exibição flexivel, onde todos os
elementos estarão lado a lado. */
main{
    background: #E5E5E5;
    display:flex;
}

/* Estilziando o 'textarea' com a tag '.mensagem', alterando o tamanho, espaçamento, cor e empedindo o usuário 
de alterar seu tamanho */
.mensagem{
    background: #E5E5E5;
    width: 80%;
    margin-left: 20%;
    border: none;
    color: rgba(10, 56, 113, 1);
    font-size: 2em;
    resize: none;
    padding-bottom: 15%;
}

/* Estilizando as subclasses do 'textarea' com a tag '.mensagem', quando a mensagem estiver em foco não terá borda
e mudando a cor da mensagem de exibição do 'textarea'. */
.mensagem:focus{
    outline: none;
}
.mensagem::placeholder{
    color:rgba(10, 56, 113, 1)
}

/* Estilizando um subtitulo alterando borda, cor, espaçamento e o tamanho da fonte para melhor adaptação.*/
.AreaTexto h6{
    padding-left: 20%;
    border: none;
    color: rgb(87, 87, 87);
    font-size: 12px;
    margin-left: 10px;
    margin-top: 20%;
    padding-bottom: 1%
}

/* Estilizando a 'div' dos 'button' alterando a exibição para 'flex' para que os botões fiquem lado a lado.
Alem disso alterando espaçamento interno e externo dos botões. */
.botoes{
    display: flex;
    padding-left: 20%;
    padding-bottom: 20%;
    margin-right: 10%;
}

/* Estilizando o 'button', alterando o tamanho, altura, tirando as bordas, alterando as cores de fundo e de texto,
e adicionando uma circuferencia as bordas. */
.btn-encriptar{
    width: 300px;
    height: 48px;
    border: none;
    background-color: rgba(10, 56, 113, 1);
    color:  #E5E5E5;
    border-radius: 24px;
    margin-right: 15px;
}

/* Estilizando o 'button', alterando o tamanho, altura, tirando as bordas, alterando as cores de fundo e de texto,
e adicionando uma circuferencia as bordas. */
.btn-desencriptar{
    width: 300px;
    height: 48px;
    border: 2px solid rgba(10, 56, 113, 1);
    background-color: rgba(216, 223, 232, 1);
    color: rgba(10, 56, 113, 1);
    border-radius: 24px;
}

/* Estilizando a 'div', de exibição do resultado da criptografia, com a posição absoluta para alterar 
o local de exibição, alterando tamanho, altura, espaçamento, centralização, e alterando a cor de fundo. */
.exibicao{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3%;
    margin-right: 3%;
    padding: 20px 30px;
    border-radius: 25px;
    width: 30%;
    height: 80%;
    background-color: white;
    text-align: center;
}

/* Alterando a cor de fundo do conteudo para branco, pois todos os elementos estão pré-estilizados,
para outro background. */
.conteudo{
    background-color: white;
}

/* Estilizando o textarea da div '.exibicao', tirando as bordas, tirando a cor de fundo,
alterando largura, altura, tamanho da fonte, impedindo o usuário de alterar o tamanho da fonte
e de interagir com o textarea. */
.exibicao textarea{
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    height: 0%;
    font-size: 22px;
    pointer-events: none;
}
/* Retirando a exibição da borda quando o textarea ativado. */
.exibicao textarea:focus{
    outline: none;
}

/* Estilizando a imagem na div '.conteudo' alterando a cor de fundo e o espaçamento.*/
.imagem-conteudo{
    background: white;
    padding-top: 30%;
    width: 60%;
}

/* Estilizando o paragrafo da div ".exibição", alterando a cor de fundo
 e alterando o texto para negrito*/
.exibicao p {
    background-color: white;
    font-weight: bold;
}

/* Estilizando o 'button', alterando o tamanho, altura, tirando as bordas, alterando as cores de fundo e de texto,
e adicionando uma circuferencia as bordas. */
.btn-copiar{
    width: 50%;
    height: 48px;
    border: 2px solid rgba(10, 56, 113, 1);
    background-color: rgba(216, 223, 232, 1);
    color: rgba(10, 56, 113, 1);
    border-radius: 24px;
    margin-top: 20%;
    display: none;
}

/* Estilização para dispositivos com a resolução abaixo de 950px */
@media screen and (max-width: 950px) {
    header{
        padding-left: 10%;
    }
    /* Estilização do tamanho da imagem do cabeçalho alterada para melhor adaptação */
    header img{
        width: 3%;
    }
    /* Estilização da exibição do conteudo principal alterada para 'block', agora os elementos
    serão exibidos um abaixo do outro. */
    main {
        display: block;
        padding-left: 10%;
        
    }
    /* Aqui foi estilizado espaçamento e tamanho do textarea com a tag '.mensagem'*/
    .mensagem{
        margin-bottom: 0%;
        padding-bottom: 0%;
        margin-left: 10%;
        width: 100%;
    }
    /* Aqui foi alterado espaçamento á esquerda do subtitulo. */
    .AreaTexto h6{
        padding-left: 12%;
    }
    /* Aqui foi alterado a exibição da div '.butoes' e mudando os espaçamentos. */
    .botoes {
        display: block;
        padding-bottom: 5%;
        padding-left: 12%;
        margin-right: 0;

    }
    /* Aqui foi alterado o tamanho dos botões para melhor adaptação da página */
    .btn-encriptar {
        width: 40%;
    }
    .btn-desencriptar{
        width: 40%;
    }

    /* Aqui foi alterado o estilo da posição para ser relativo ao tamanho da página.
    Além disso foi alterado o tamanho e o espaçamento da página. */
    .exibicao{
        position: relative;
        width: 80%;
        height: 200px;
        margin: 0 auto 0 auto;
    }
    
    /* Aqui foi alterado a exibição da imagem com a tag '.imagem-conteudo'*/
    .imagem-conteudo{
        display: none;
    }

    /* Aqui foi alterado a estilização do 'button' com a tag '.btn-copiar', mudando
    seu tamanho e espaçamento. */
    .btn-copiar{
        position: absolute;
        width: 50%;
        bottom: 5%;
        right: 25%;
    }
}

/* Estilização para dispositivos com a resolução abaixo de 480px */
@media screen and (max-width: 480px) {
    header{
        padding-left: 0%;
        display: block;
    }
    /* Aqui foi alterado o tamanho da imagem do cabeçalho. */
    header img{
        width: 6%;
    }
    main{
        display: inline-block;
        padding-left: 0%;
    }
    .mensagem{
        margin-left: 0%;
    }
    .AreaTexto h6{
        padding-left: 7%;
    }
    /* Aqui foi alterado o tamanho da div 'botoes' e do espaçamento. */
    .botoes{
        display: inline-block;
        background-color:#E5E5E5;
        margin-right: 0;
        width: 100%;
        padding-left: 7%;
    }
    .exibicao{
        margin-left: 2.5%;
    }

    /* Aqui foi alterado a exibição dos botões e o tamanho.
    Alem disso o button com a tag '.btn-encriptar' recebe um espaçamento para baixo,
    pra distanciar um botão do outro.*/
    .btn-encriptar{
        display: block;
        width: 80%;
        margin-bottom: 5%;
    }
    .btn-desencriptar{
        display: block;
        width: 80%;
    }
}